.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10% 80px);
}

navbar .profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.25s;
}

.navbar .profile:hover {
    transform: scale(1.07);
}